{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load category_list %}

{% block title %}{{ block.super }}{{ user.first_name }} {{ user.last_name }} | Profile{% endblock %}

{% block content %}
<style>
	.panel-primary {
	  border: none !important;
	}
	.panel-heading {
		position: relative;
text-align: center;
		color: #fff;
	}

h2#\32 fa_header{
    		position: relative;
text-align: center;
margin: 100px 0 50px 0 !important;
}

h2#\32 fa_header_privacy{
  text-align: center;
margin: 100px 0 50px 0 !important;
}

p#\32 fa_description {
 
  margin: 0 10% 2% 10%;
  font-size: 15px;
  color: #baf3c9;
}

.red {
	color: #fe8888;
}

	#id_old_password, #id_new_password1, #id_new_password2 {
	  color: #555 !important;
	  background-color: transparent;
		  font-family: 'laoui Sans', sans-serif;
			  background-color: #fff;
	}

	#id_old_password-error, #id_new_password1-error, #id_new_password2-error {
	  color: #ffb5b5;
	  background-color: transparent;
	  line-height: 0.7;
    margin-bottom: 0px;
	}

 

	.error_msg, .errorlist li, .form_error_message {
	  color: #ed1b2e !important;
	  display: -webkit-inline-box !important;
	}

	.error_msg {
	  color: #ed1b2e !important;
	  margin: 10px 0 10px 27%;
	}

	.errorlist li {
	  font-family: Segoe_Print !important;
	  font-weight: normal !important;
	}

#type_check1, #type_check2 ,#type_check3  {
	color: #000 !important;
	background-color: #000 !important;
	margin-bottom: 25px;
	display: inline;
	margin-left: 26%;
	margin-top: 0px;
	position: relative;
}
 
 
  </style>

<script>
	$j = jQuery.noConflict();
	jQuery(document).ready(function () {
	  $j('#id_old_password').attr('autocomplete', 'off');
	  $j('#id_new_password1').attr('autocomplete', 'off');
	  $j('#id_new_password2').attr('autocomplete', 'off');

	  $j('#pass_chang_form').on('focus', ':input', function () {
		$j(this).attr('autocomplete', 'off');
	  });

	  $j('#id_old_password').on('keydown', function () {
		$j('#err_msg').empty()
		$j('.errorlist').empty()
		$j('.errorlist').hide()
		$j('#err_msg').hide()
	  });
	  function PasswordFormValidation() {
		$j.validator.addMethod("notEqualTo", function (value, element, param) {
		  return this.optional(element) || value != $j(param).val();
		}, "<span style='font-size:20px;'></span> Your Current Password and New Password do not be same. Please try again.");

		$j.validator.addMethod("oneuppercaseletter",
            function (value, element) {
			        return /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/.test(value);
            }, "<span style='font-size:20px;'></span> Your New Password does not meet the minimum requirements. Please try again."
        );

		var profileForm = $j("#pass_chang_form")

		errorLabelContainer: '#errors',
			profileForm.validate({
			  rules: {
				'old_password': {
				  required: true,
				},
				'new_password1': {
				  required: {
					depends: function () {
					  $j(this).val($j.trim($j(this).val()));
					  return true;
					}
				  },
				  notEqualTo: '#id_old_password',
				  oneuppercaseletter: true,
				  minlength: 8,
				},
				'new_password2': {
				  required: true,
				  equalTo: '#id_new_password1'
				}
			  },
			  messages: {
				'old_password': {
				  required: "<div class='error'><span><img width='25' src='/static/images/error_icon.png'>Your current password is required",
				},
				'new_password1': {
				  required: "<div class='error'><span><img width='25' src='/static/images/error_icon.png'>Your new password is required",
				  minlength: "<div class='error'><span><img width='25' src='/static/images/error_icon.png'>Your password must contain between 8 and 16 characters with at least 1 number and 1 upper case letter.",
				  oneuppercaseletter: "<div class='error'><span><img width='25' src='/static/images/error_icon.png'>Your password must contain between 8 and 16 characters with at least 1 number and 1 upper case letter.",
				  notEqualTo: "<div class='error'><span><img width='25' src='/static/images/error_icon.png'>Your current password and new password are the same. Please try again."
				},
				'new_password2': {
				  required: "<div class='error'><span><img width='25' src='/static/images/error_icon.png'>Your new password could not be verified. Please try again.",
				  equalTo: "<div class='error'><span><img width='25' src='/static/images/error_icon.png'>Your new password could not be verified. Please try again.",
				},
			  }
			});
		return profileForm.valid()
	  }

	  $j('#form_submit').click(function () {
		$j('#id_old_password').attr('autocomplete', 'off');
		$j('#id_new_password1').attr('autocomplete', 'off');
		$j('#id_new_password2').attr('autocomplete', 'off');
		PasswordFormValidation();
		$j('.errorlist').show()
		$j('#err_msg').show()
	  });
	});

  </script>

<div class="row profile white-back">
  <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

    <div class="profile-sidebar" id="adjust_3">

      <div class="profile-usermenu padd-left ">
        <ul class="nav">
          <li><a href="{% url 'user_profile' %}">Member Profile </a></li>

          {% if is_business %}
          <div  class="hidden-xs hidden-sm" >
            <li><a href="/brochure-preview" style= "margin-left: 15px;">View/Print Brochure</a></li>
            <li><a href="/wall-poster-preview" style="margin-left: 15px;">View/Print Wall Poster</a></li>
          </div>
          <li><a href="{% url 'user_payment_setup' %}">Invoice History</a></li>
		  <li><a href="{% url 'business_analytics' %}">Business Analytics</a></li>
          {% endif %}

          <li class="active"><a href="{% url 'password_change' %}">Password and Security</a></li>
          <li><a href="{% url 'user_profile_notifications' %}">Notification Settings</a></li>
          <li><a href="{% url 'user_profile_delete' %}">Delete My Account </a></li>
          <li><a href="{% url 'my_statistics' %}">My Skigistats</a></li>
           
        </ul>
      </div>

    </div>
  </div>

  <div class="row mar_zero margin_tb_10">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="background-color: #344254;border-radius: 4px;margin-top: 40px;" id="change_password_menu">
      <div class="panel panel-primary">
        <div class="panel-body f_type">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero">
            
            <div id="social_user_div" style="margin-top:2em;">
              <span id="social_user_error"></span>
            </div>
            
            <form role="form" autocomplete="off" id="pass_chang_form" method="post"  
                  action="{% url 'password_change' %}"  >
              <h2 class="panel-heading text-white">Change Password</h2>
              {% csrf_token %}

              {% if form.non_field_errors %}
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  {% for err in form.non_field_errors %}
                  <div class="form_error_message">{{ err }}</div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
                  <div class="row mar_zero">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                      <div class="form-group" style="float: right;">
                        <label for="{{ form.old_password.id_for_label }}" style="color: #fff;">Current Password&nbsp;&nbsp;&nbsp;<span class="red" style="margin-left: -10px;"> *</span></label>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12" style= "padding-bottom: 10px;">  {{ form.old_password|addcss:"form-control" }}</div>
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12"></div>

                    {% if form.old_password.errors %}
                    <div id="err_msg" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                      <div class='error'><span><img width='25' src='/static/images/error_icon.png'>Your current password is incorrect. Please try again.</span></div>
                    </div>
                    {% endif %}
                  </div>
                  <div>
                    <input type="checkbox" id="type_check1" onclick="myFunction1()">
                    <span id="login_pwd_span" style="font-size:13px;font-family: cursive; color: #fff"  >Show Password </span>
                  </div>
                  <script>
					function myFunction1() {
					var x = document.getElementById("{{ form.old_password.id_for_label  }}");
					if (x.type === "password") {
					x.type = "text";
					} else {
				x.type = "password";
				  }
				}
				</script>
                  <div class="row mar_zero">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                      <div class="form-group" style="float: right;">
                        <label for="{{ form.new_password1.id_for_label }}" style="color: #fff;">New Password&nbsp;&nbsp;&nbsp;
                          <span class="red" style="margin-left: -10px;"> *</span>
                        </label></div>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12" style= "padding-bottom: 10px;">
                      {{ form.new_password1|addcss:"form-control" }}
                    </div>
                    {% if form.new_password1.errors %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                      <label>
                        <span style='font-size:20px;'</span>
                        {{ form.new_password1.errors }}

                      </label>
                    </div>
                    {% endif %}
                  </div>
                  <div>
                    <input type="checkbox" id="type_check2" onclick="myFunction2()">
                    <span id="login_pwd_span" style="font-size:13px;font-family: cursive; color:#fff;" >Show Password </span>
                  </div>
                  <script>
					function myFunction2() {
					var x = document.getElementById("{{ form.new_password1.id_for_label }}");
					if (x.type === "password") {
					x.type = "text";
					} else {
				x.type = "password";
				  }
				}
				</script>
                  <div class="row mar_zero">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                      <div class="form-group" style="float: right;">
                        <label for="{{ form.new_password2.id_for_label }}" style="color: #fff;">Verify Password&nbsp;&nbsp;&nbsp;<span class="red" style="margin-left: -10px;"> *</span>
                        </label></div>
                    </div>
                    <div
                            class="col-lg-5 col-md-4 col-sm-4 col-xs-12" style= "padding-bottom: 10px;"> {{ form.new_password2|addcss:"form-control" }}</div>
                    {% if form.new_password2.errors %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                      {{ form.new_password2.errors }}
                    </div>
                    {% endif %}
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12"  style="margin-top: -110px;color: #baf3c9;">Your password must contain between 8 and 16 characters with at least 1 number and 1 upper case letter. Special characters are allowed.
                    </div>
                  </div>
                  <div style="margin: 0 0 40px;">
                    <input type="checkbox" id="type_check3" onclick="myFunction3()">
                    <span id="login_pwd_span" style="font-size:13px;font-family: cursive; color:#fff" >Show Password </span>
                  </div>
                  <script>
					function myFunction3() {
					var x = document.getElementById("{{ form.new_password2.id_for_label }}");
					if (x.type === "password") {
					x.type = "text";
					} else {
				x.type = "password";
				  }
				}
				</script>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin_tb_10">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" style="margin: 0 0 0 -12%; width:100%;">

                      <button type="submit" class="btn yel" id="form_submit" name="basic_profile_submit" style="margin:-3px 10px 10px 90px !important">&nbsp;Save&nbsp;</button>

                      <a href="/profile" class="btn yel" id="cancel_pwd_change_button">Cancel</a></div>
                    <div id="errors" style="list-style-type: none"></div>
                  </div>
            </form>
            <div class=" two-factor-auth" style="min-height: 250px;background-color: #344254;border-radius: 6px;   margin-top: -70px;">
              <h2 class="panel-heading text-white" id="2fa_header">Two Factor Verification</h2>
			  
			  <p id="2fa_description">Two Factor Authentication adds an extra layer of protection to your account. Whenever you sign int to the Skigit website orlink a new device you'll need to verify both your password and also a security code sent to either your email or mobile phone.</p>
			  
              <div class="row mar_zero" style="display:flex; justify-content:center">
                <div class="col-xs-6">
                  <div class="form-group {{ two_factor_form.two_fa_by_email.value }}">
                    {{ two_factor_form.two_fa_by_email }}
                    <label for="{{ form.two_fa_by_email.id_for_label }}" style="color: #fff;">&nbsp;&nbsp;Verification By Email&nbsp;
                    </label>
                  </div>
                </div>
                {% if two_factor_form.two_fa_by_email.errors %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                  <label>
                    <span style='font-size:20px;'</span>
                    {{ two_factor_form.two_fa_by_email.errors }}
                  </label>
                </div>
                {% endif %}
              </div>
              <div class="row mar_zero" style="display:flex; justify-content:center">
                <div class="col-xs-6">
                  <div class="form-group" style="margin-bottom: 50px;">
                    {{ two_factor_form.two_fa_by_app }}
                    <label for="{{ form.two_fa_by_app.id_for_label }}" style="color: #fff;">&nbsp;&nbsp;Verification By Mobile App Notification &nbsp;&nbsp;
                    </label>
                  </div>
                </div>
                {% if two_factor_form.two_fa_by_app.errors %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                  <label>
                    <span style='font-size:20px;'></span>
                    {{ two_factor_form.two_fa_by_app.errors }}

                  </label>
                </div>
                {% endif %}
              </div>
              <div class="two-fa-msg text-center"></div>
            </div>

            <div class=" two-factor-auth" style="min-height: 250px;background-color: #344254;border-radius: 6px;   margin-top: -70px;">
              <h2 class="panel-heading text-white" id="2fa_header_privacy">Privacy</h2>
			  
			        <p id="2fa_description" style="float: left;">Who can send you a friend request?</p>

              <select id="invite_friend" class="form-select" aria-label="Default select example">
                {% if everyone_allowance %}
                  <option value="1" selected>Everyone</option>
                  <option value="2">Friend of Friends</option>
                {% else %}
                  <option value="1">Everyone</option>
                  <option value="2" selected>Friend of Friends</option>
                {% endif%}

              </select>

            </div>
          </div>
        </div>
      </div>
    </div>
  <!--</div>-->
</div>
</div>
</div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
	$j = jQuery.noConflict()

  function check_social_user(email) {
    var res = false
    $j.ajax({
      url: "/check_social_user/", // the endpoint
      type: "POST", // http method
      data: {'email': email,csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function(response) {
        $j('#social_user_div').show()
        if (response.user_exist){
          $j('#social_user_error').append(`This email address is associated
              to an <a style="font-weight: bold; color: #20c6f4;" href="${response.login_url}">${response.provider}</a>  account. You cannot change password through Skigit.
             You must login to <a style="font-weight: bold; color: #20c6f4;" href="${response.login_url}">${response.provider}</a> to use their password change feature to
             change your password. The next time you login to Skigit, the new password will be linked to your credentials`);
          res = true
          $j('#pass_chang_form').hide()
        }
      },
      async: false
    });
    return res
  }

  var social_user_check = check_social_user("{{request.user.email}}")

  const updateAllowance = (type) => {
    $j.ajax({
      url: '/update-allowance/',
      type: "POST",
      data: {allowance: type},
    })
  }

  $j('#invite_friend').change(function() {
      if ($j(this).val() === '1') {
        updateAllowance("True")
      }else if($j(this).val() === '2'){
        updateAllowance("False")
      }
  });

	const updateTwoFa = (field, value) => {
	  $j.ajax({
	    url: '/update-two-fa/',
	    type: "POST",
	    data: {field: field, value: value},
	    error: function() {},
	    success: function(data) {
	      $j('.two-fa-msg').html(data.message).show().delay(3000).fadeOut();
	    }
	  })
	}

	$j(document).on('click', '.two-factor-auth label', function() {
		let checkbox = $j(this).parents('.form-group').find('input[type="checkbox"]');
		console.log('checkbox ', $j(this).html())
		if(checkbox.is(":checked")) {
		  checkbox.prop("checked", false)
		  updateTwoFa(checkbox.attr('name'), false)
        }
		else {
		  checkbox.prop("checked", true)
		  updateTwoFa(checkbox.attr('name'), true)
        }
	})
	$j(document).on('click', '#id_two_fa_by_email', function() {
		updateTwoFa('two_fa_by_email', $j(this).is(":checked"));
	});
	$j(document).on('click', '#id_two_fa_by_app', function(){
		updateTwoFa('two_fa_by_app', $j(this).is(":checked"));
	});
	</script>
{% endblock js %}

