


.container {
    position: relative!important;
    color: #040404!important;
}
 

.modal-backdrop.fade {
background-color: #e4e7ec;	
}

.bottom-left {
    position: absolute;
    bottom: 466px;
    left: 138px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
    position: absolute;
    top: -85px;
    left: -30px;
    background-color: #0386b4;
    padding: 24px;
    border-radius: 16px;
	text-align: center;
}

.top-right-app {
    left: -68%;
    height: 55%;
	width: 80%;
	  top: 10%;
    padding-top: 24px;
    border-radius: 16px;
    position: absolute;
   /* background-color: #e0e0e0;*/
    text-align: center;
	/*box-shadow: #3e3d3d 2px 4px 16px;*/
}

b#get-app {
font-size: 20px;
color: #000;
padding: 5px 18% 138px 18%;
border-radius: 6px;
font-weight: bold;
background-color: #c3cc88;
box-shadow: 2px 2px 3px #666;
z-index: -999;
position: absolute;
font-family: aerial;
}


input[type=checkbox] + label:before {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
	}


.login-c {
    font-size: 18pt;
	color: #ffffff;
	font-weight: normal;
	font-family: segoe print;
}

.bottom-right {
    bottom: 114px;
    right: 137px;
	    margin-top: 15px;
		    width: 105%;
}

.centered {
    position: absolute;
    top: 470px;
    left: 62.7%;
    transform: translate(-50%, -50%);
}
.logo-class
{
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    top: -30px;
     margin-bottom: 30px;
    position: relative;
}

div#get_app_group {
    position: absolute;
    right: -215px;
	    width: 200px;
}

.image2-c {
    margin-left: auto;
    margin-right: auto;
    display: block;
	width: 85%;
}

.image-app-c
{
    margin-left: auto;
    margin-right: auto;
    display: block;
	width: 68%;
	    margin-bottom: 15px;
		    border-radius: 12px;
}

.image-app-d
{
    display: block;
	height: auto;
	margin-left:20px;
}

.image-app-e
{
     margin-left: auto;
    margin-right: auto;
    display: inline-block;
	width: 37%;
	height: auto;
	margin-top: 15px;
}


.image4-c {
    width: 440px;
    position: relative;
    margin: -65px 0px 0px 0px;
}

img.image4-c {
position: absolute;
top: -5.5% !important;
left: 40%;
border-radius: 16px;
width: 16%;
background: #fff0;
z-index: 999;
height: 60px;
width: 60px;
display:none;
}

.live-c {
    font-size: 13pt;
    color: rgb(255, 110, 219);
    position: absolute;
    font-weight: bold;
    right: 160px;
	margin: -15px 0px 0px 3px;
}
.join-c {
    width: 85%;
    text-align: left;
    margin-top: 0px;
    margin-left: 40px;
    display: block;
	line-height: 1.2;
	padding-top:16px;
}
.font-join-c{
font-size: 14pt;
color: #f9f6f6;
font-weight: 500;
}
.make-c {
    margin: -19px 0px 0px 106px;
    white-space: nowrap;
}

.font-gets-c:hover {
    background-color: #f75757;
}

.font-gets-c {
	 display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 12pt;
	position: relative;
	font-family: 'laoui Sans',sans-serif;
	background-color: #cf4949;
    border-radius: 4px;
    padding: 6px;
	width:200px;
	margin-left:10px;
}

.font-lets-c {
    color: #b4e7f9;
    display: inline-block;
    font-size: 12pt;
    margin-bottom: 5px;
   
	font-weight: bold;
	font-family: 'laoui Sans',sans-serif;
}

#font-lets-c {
    color: #fff;
	font-family: 'laoui Sans',sans-serif;
    font-weight: normal;
	background-color: #007ac2;
    border-radius: 4px;
    padding: 6px;
}

#font-lets-c:hover {
    background-color: #2fb1ff;
    border-radius: 4px;
    padding: 6px;
}

.lets-c {
  text-align: center;
  display: block;
  width: 93%;
}

.chb-c {
    position: absolute;
    right: 94px;
    bottom: -2px;
}
.font-dont-c {
    position: absolute;
    right: -57px;
    font-size: 9pt;
    bottom: -5px;
    color: black;
    font-weight: 400;
}
#fixed-social {
    /* width: 60px; */
    float: right;
    position: relative;
    bottom: 390px;
    right: -64px;
}
#fixed-social a {
   color: #037bb8;
   display: block;
   height: 30px;
   position: relative;
   text-align: center;
    line-height: 30px;
   width: 38px;
   margin-bottom: 6px;
   z-index: 2;
  border-radius: 24px;
  font-size: 18px;
  /*box-shadow: 2px 3px 3px 0px #e6e5e5;*/
}
#fixed-social .fa {
    margin-top: 5px;
}
 .fixed-facebook{
 	background-color: #effaff;
 }
 .fixed-twitter{
	background-color: #effaff;

 }

 .fixed-linkedin{
	background-color: #effaff;

 }
 .fixed-instagrem{
	background-color: #effaff;

 }
 .fixed-pinterest{
	background-color: #effaff;

 }

/*end fixed social*/

@media (min-width: 1024px)
{
.landing-modal-dialog {
    width: auto!important;
    margin: 5% 20%!important;
}

.skigit-logo {
	position: absolute;
    top: -17%;
    left: 50%;
    z-index: 1;
}

}


@media only screen and (min-width: 1367px) and (max-width: 1600px)  {

    .login-c {font-size:18pt; color: #ffffff;}
    .top-right{left:-30px; background-color: #0386b4;padding: 24px; border-radius: 16px;}
    .logo-class{margin-bottom:20px}
    .font-join-c{font-size:14pt; font-weight: 500;line-height: 1.4;}
	.image4-c {width: 440px;position: relative;margin: -70px 0px 0px 0px;}
    .live-c{left: 13px;margin: -15px 0px 0px 3px;font-size: 13pt; width:100%}
}


@media only screen and (min-width: 1024px) and (max-width: 1367px)  {
    #fixed-social{Left: 12%;bottom: 290px;}
    .login-c {font-size:18pt; color: #ffffff;}
    .top-right{left:-30px; background-color: #0386b4;padding: 24px; border-radius: 16px;}
    .logo-class{margin-bottom:20px}
    .font-join-c{font-size:14pt; font-weight: 500;line-height: 1.4;}
    .image4-c {width: 440px; top: 8%!important;}
    .live-c {left: 13px;margin: -15px 0px 0px 3px;font-size: 13pt; width:100%}
}

@media only screen and (min-width : 800px) and (max-width : 1280px) {

    #fixed-social{left: 14%;bottom: 243px;}
    .login-c {font-size:18pt}
   .top-right{left:-30px; background-color: #0386b4;padding: 24px; border-radius: 16px;}
    .logo-class{margin-bottom:0;width:150px}
    .font-join-c{font-size:10pt}
    .font-lets-c, .font-gets-c{font-size:12pt}
    .form-check-label{font-size:9px}
    .live-c {left: 13px;font-size: 13pt; margin-top: -15px; width:100%}
	.modal-content{padding-top: 0px;}
	.skigit-logo {position: absolute;top: 3%;left: -55%;z-index: 1;}
}

@media only screen and (min-width: 275px) and (max-width: 799px)  {

    #fixed-social{left: 32%;bottom: 243px;}
    .login-c {font-size:18pt}
   .logo-class{margin-bottom:0;width:150px}
    .font-join-c{font-size:14pt}
   .image4-c { top: 10%!important;left: 30%; transform: scale(0.8); }
    .font-lets-c, .font-gets-c{font-size:12pt}
    .form-check-label{font-size:9px}
    .live-c {left: 13px;font-size: 13pt;width: 100%;}
	.modal-content{padding-top: 0px;}
	.font-gets-c {width: 100%;margin-left: 60%;position: relative;display: inline-block;text-align: left;margin-top:0}
	.font-lets-c {Margin-left:10px;display: inline-block}
	.skigit-logo {position: absolute;top: 3%;left: -55%;z-index: 1;}
	b#get-app {font-size: 18px;padding-right: 0px;}
}

