{% extends 'base_mobile.html' %}
{% load static %}
{% load compress %}

{% block title %}Business Social Media Engagement | Earned Media | Social Engagement Through Video | Incentives To Create Video | Skigit{% endblock %}

{% block content %}
<div class="row mar_zero" id="main">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 welcome_text_div" style="background-color: #e9f1f9;">

    <div class="welcome_title" >Thirty Seconds on Skigit could Change your Life!</div>
    <div class="clear"></div>
    <div class="welcome_content col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <br>
      <p style="width: 90%;margin: 0 0 0 6%;text-align: center;"><span class="welcom-text-span">Welcome to Skigit!  Strut your stuff, show off your favorite things in short video skits and get <span style="font-size: 26px; font-weight:700;font-family: segoe print;color: #466eff;"> recognized</span> by your favorite <span style="font-size: 26px; font-weight:700;font-family: segoe print;color: #e72b2b;">Brands!</span> Connect with your audience and the maker of your favorite thing. Let Skigit take your life in a new direction because the<span style="font-size: 26px; font-weight:700;font-family: segoe print;color: #466eff;"> possibilities</span> are endless!</p>
      <br>
      <span class="imgLeft" ><center><img src="{% static 'images/Welcome_Image_121921.png' %}" style="margin-bottom: 20px" width="85%"  alt="" ></center></span> 
      <br>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 ">
            <a href="javascript:void(0);">
                <img class="appstore-img" src="{% static 'images/download_ios.png' %}" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-3">
            <a href="javascript:void(0);">
                <img class="appstore-img" src="{% static 'images/google_store.png' %}" />
            </a>
        </div>
    </div>


  </div>
</div>
{% endblock content %}